@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --form-background: #D9D9D9;
    --main-color: #FF4B3A;
    --sub-text: #777777;
}

* {
    margin: 0;
    padding: 0;
    transition: 150ms;
}

h2 {
    font-weight: 500;
}

html, input, button {
    font-family: Prompt;
}

body {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
}

nav {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    svg {
        padding: 10px;
        background-color:var(--form-background);
        border-radius: 50px;
    }
}


.recently {
    .recently_container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        .detail {
            box-shadow: inset 0px 2px 3px var(--form-background);
            padding: 15px;
            border-radius: 7px;
            border: 1px solid #E5E5E5;
            div {
                display: flex;
                justify-content: space-between;
                margin-top: 10px;
                color: var(--main-color)
            }
            h3 {
                margin-top:10px ;
                color: var(--main-color)
            }
        }
    }
}
.recently > p {
    color: var(--sub-text)
}
.date {
    font-size: 0.7em;
    font-weight: 700;
}

.recently_price {
    font-weight: 700;
}

.history {
    display: flex;
    flex-direction: column;
    gap: 15px;
    div:not(.slip) {
        display: flex;
        color: var(--sub-text);
        svg {
            transform: rotate(270deg);
            scale: 0.7;
            opacity: 0.5;
        }
    }
    .slip {
        box-shadow: inset 0px 2px 3px var(--form-background);
        padding: 15px;
        border-radius: 7px;
        border: 1px solid #E5E5E5;
        display: flex;
        flex-direction: column;
        gap: 5px;
        p:not(.date) {
            font-weight: 300;
        }
        a {
            color: var(--main-color);
            font-size: 0.8em;
        }

    }
}