@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --form-background: #D9D9D9;
    --main-color: #FF4B3A;
    --sub-text: #777777;
}

* {
    margin: 0;
    padding: 0;
    transition: 150ms;
}

html, input, button {
    font-family: Prompt;
}

body {
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    .close {
        display: flex;
        gap: 10px;
        svg {
            width: 35px;
            height: 35px;
            background-color: var(--form-background);
            border-radius: 50px;
            padding: 5px;
        }
    }
    .shopping_bag {
        background-color: var(--main-color);
        justify-content: center;
        display: flex;
        height: 35px;
        border-radius: 50px;
        width: 35px;
        padding: 5px;
    }
    h2 {
        font-weight: 500;
    }
}

.img {
    height: 180px;
    width: 100%;
    background-color: #008CFF;
    border-radius: 7px;
}

.description {
    display: flex;
    justify-content: space-between;
}
.recommand_food {
    color: var(--main-color)
}
.start_price {
    font-size: 0.7em;
    color: var(--sub-text);
}
.price_description {
    font-size: 1.9em;
    font-weight: 400;
}
.menu_description {
    color: var(--sub-text)
}
h5 {
    font-size: 1.5em;
    font-weight: 400;
}
.price {
    font-size: 1.5em;
}



form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flavour_checkbox {
    .flavour_checkbox_description {
        display: flex;
        justify-content: space-between;
    }
}

.checkbox_container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.checkbox {
    display: flex;
    justify-content: space-between;
    input {
        width: 35px;
        height: 35px;
    }
    input:checked {
        background-color: var(--form-background);
    }
    .checkbox_flavour {
        display: flex;
        gap: 10px;
    }
}

.out_of_stock_case {
    div {
        display: flex;
        align-items: center;
        width: 100%;
        border:solid 0.6px #D9D9D9 ;
        border-radius: 7px;
        padding-left: 10px;;
        svg {
            transform: rotate(270deg);
            scale: 0.6;
        }
        input {
            width: 100%;
            height: 30px;
            border: none;
        }
        input:focus {
            outline: none;
        } 
    }
}

footer {
    background-color: white;
    box-shadow: inset 0 4px 10px #47474726;
    padding: 25px;
    border-radius: 7px 7px 0 0;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    input {
        width: 100%;
        height: 40px;
        padding-left: 10px;
        border: none;
        background-color: var(--form-background);
    }
    input:focus {
        outline: none;
    }
}
footer > div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    .merchandise_amount_container {
        display: flex;
        gap: 10px;
        background-color: #121223;
        color: white;
        padding: 5px;
        border-radius: 50px;
        box-sizing: border-box;
        align-items: center;

        .add, .minus {
            background-color: rgb(136, 136, 136);
            font-size: 2em;
            width: 25px;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
        }

    }
    button {
        flex-grow: 1;
        height: 50px;
        border-radius: 5px;
        border: var(--main-color) 1px solid;
        font-size: 1.3em;
        font-weight: 700;
    }
    .add_chart {
        color: var(--main-color);
        background-color: white;
    }
    .submit {
        background-color: var(--main-color);
        color: white;
    }
}