<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Style/login.css">
</head>
<body>
    <div class="wrapper">
        <div class="top">
            <img src="IMAGE/Logo/TYICT White.svg" width="130px" height="130px"> 
            <h1>Forgot Password</h1>
            <p>ไม่ต้องตกใจ เปลี่ยนรหัสใหม่ได้ :)</p>
        </div>
        <div class="inside_wrapper">
            <form>
                <div class="email_input">
                    <p>อีเมลที่ใช้สมัคร</p>
                    <input type="email" name="email_input" id="email_input" placeholder="example@gmail.com">
                </div>
                <div class="button_container">
                    <button type="submit">ส่ง</button>
                    <p>อ๋อฉันจำรหัสได้แล้ว <u><a href="/login">Login</a> ที่นี่</u></p>
                </div>
            </form>
            <div class="login_option">
                <p>ฉันจำอะไรไม่ได้เลย<br>ติดต่อพวกเราได้ที่ example@gmail.com</p>
                
                <p>refresh</p>
            </div>
        </div>
    </div>
    <script src="script/style/forgetPassword.js"></script>
</body>
</html>