<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu details</title>
    <link rel="stylesheet" href="/public/Style/menuDetail.css">
</head>
<body>
    <nav>
        <div class="close" onclick="window.history.back()">
            <?xml version="1.0" encoding="utf-8"?>
            <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
            <svg width="50px" height="50px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="Menu / Close_MD">
            <path id="Vector" d="M18 18L12 12M12 12L6 6M12 12L18 6M12 12L6 18" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            </svg>
            <h2>รายละเอียด</h2>
        </div>
        <div class="shopping_bag">
            <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.875 7.75L7.75 2.58333H23.25L27.125 7.75M3.875 7.75V25.8333C3.875 26.5185 4.14717 27.1756 4.63164 27.66C5.11611 28.1445 5.77319 28.4167 6.45833 28.4167H24.5417C25.2268 28.4167 25.8839 28.1445 26.3684 27.66C26.8528 27.1756 27.125 26.5185 27.125 25.8333V7.75M3.875 7.75H27.125M20.6667 12.9167C20.6667 14.287 20.1223 15.6011 19.1534 16.5701C18.1844 17.539 16.8703 18.0833 15.5 18.0833C14.1297 18.0833 12.8156 17.539 11.8466 16.5701C10.8777 15.6011 10.3333 14.287 10.3333 12.9167" stroke="white" stroke-width="2.58333" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
    </nav>

    <div class="img"></div>

    <div class="description">
        <div>
            <p class="recommand_food">ขายดี, เมนูแนะนำ</p>
            <h1>ชื่อเมนู</h1>
            <p class="menu_description">คำอธิบายเมนู</p>
        </div>
        <div>
            <p class="start_price">ราคาเริ่มต้น</p>
            <h4 class="price_description">ราคา ฿</h4>
        </div>
    </div>

    <hr>

    <form class="flavour_checkbox">
        <div class="checkbox_container">
            <div class="flavour_checkbox_description">
                <h5>ไส้</h5>
                <p>ต้องระบุ, สูงสุด 1 รายการ</p>
            </div>
            <% for(let i =0; i < flavours.length; i++) { %>
            <div class="checkbox">
                <div class="checkbox_flavour" >
                    <input type="checkbox" name="flavour" id="flavour">
                    <p><%= flavours[i].name %></p>
                </div>
                <p>+<%= flavours[i].price %></p>
            </div>
            <% } %>
        </div>

        <hr>

        <diV class="out_of_stock_case">
            <h4>วิธีดำเนินการกรณีของหมด</h4>
            <div>
                <input type="text" placeholder="ลบรายการนี้ออกจากคำสั่งซื้อ" name="out_of_stock_method" id="out_of_stock_method">
                <label for="out_of_stock_method">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.9999 18L8.99994 12L14.9999 6" stroke="black" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </label>
            </div>
        </div>

        <footer>
            <p>หมายเหตุ:</p>
            <input type="text" placeholder="ไม่จำเป็นต้องระบุ">
            <div>
                <div>
                    <p>รวมทั้งหมด: <span class="price"><%= total_price %>฿</span></p>
                </div>
                <div class="merchandise_amount_container">
                    <p class="minus" onclick="minus()">-</p>
                    <p class="merchandise_amount"><%= merchandise.amount %></p>
                    <p class="add" onclick="add()">+</p>
                </div>
            </div>
            <div class="button_container">
                <button class="add_chart" onclick="addOrder()">เพิ่มลงตะกร้า</button>
                <button class="submit" type="submit">สั่งเลย</button>
            </div>
        </footer>

    </form>
</body>
</html>